<h1>Questions of {{qTitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center mb20">
                <button routerLink="/admin/add-questions/{{qId}}/{{qTitle}}" mat-raised-button color="accent">Add Question</button>
            </div>
            <mat-card *ngFor="let q of questions; let i= index">
                <mat-card-content>
                  <p>
                   <b>Q {{i+1}})</b> <span [innerHTML]="q.content" class="ml10"></span>
                  </p>
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <p>1) {{q.option1}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>2) {{q.option2}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>3) {{q.option3}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>4) {{q.option4}}</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <br>
                    <p >Correct Answer: {{q.answer}}</p>
                  </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>
